@import "open-props/style";
@import "open-props/normalize";


.tablelayout{
   width: 100%;
   height: 300px;
   overflow: scroll;
}



.buttonsearch{
    box-shadow: 2px 2px 6px grey;
    border-radius: 10px;
    background-color:#ffffff ;
    margin-left: 2em;
    font-weight: bold;
    color: grey;
    border: 2px solid grey;
}

.buttonsearch:hover{
    transform: scale(1.1);
    background-color: rgb(72, 141, 245);
    color: #ffffff;
}
.box {
    
    box-shadow: 20px 20px 30px rgb(116, 116, 116);
    margin: 1rem;
    padding: 20px;
    width: 90%;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}
.App{
    background-image: url(https://wallpaperaccess.com/full/2541966.jpg);
    background-color: black;

    
}

.tablelayout{
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    border-radius:30px;
    padding: 30px;
    box-shadow: 0 20px 30px grey;
}

.custom-chart{
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    border-style: none;
    box-shadow: 20px 20px 30px rgb(116, 116, 116);

}


.single-row{
    margin-bottom: 5px;
    color: #219ebc;
    font-size: 20px;
    padding-top: 3em;
    
}


nav{
    height: 9em;
    display: flex;
   justify-content: space-evenly;
   padding-top: 3em;
   background-color: transparent;
}


input{
    border-radius:10px;
}

.game-btn{
border: 2px solid grey;
border-radius: 10px;
background-color: aliceblue;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.game-btn:hover{
    transform: scale(1.2);
    background-color: rgb(252, 251, 251);
    color: rgb(63, 163, 250);
    box-shadow: 5px  5px 10px greenyellow;
    
}
.navbar{
    justify-items: space-between;
}

h1{
    font-family:serif;
    text-decoration-color: #bde0fe;
   
}

.title{
    display: flex;
}


.icon{
    fill: red;
}

.icon:hover{
    transform: scale(2);
}

.slide-fade{
    background-color: white;
    border:2px solid grey;
    border-radius: 30%;
    

}
.slide-fade:hover {
    animation:
      var(--animation-fade-out) forwards,
      var(--animation-slide-out-down);
    animation-timing-function: var(--ease-squish-3);
    animation-duration: 1s;
  }